@font-face {
    font-family: 'icomoon';
    src:  url('./assets/icomoon/fonts/icomoon.eot?g6orzb');
    src:  url('./assets/icomoon/fonts/icomoon.eot?g6orzb#iefix') format('embedded-opentype'),
    url('./assets/icomoon/fonts/icomoon.ttf?g6orzb') format('truetype'),
    url('./assets/icomoon/fonts/icomoon.woff?g6orzb') format('woff'),
    url('./assets/icomoon/fonts/icomoon.svg?g6orzb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
    content: "\ebcd";
}
.icon-arrow-down:before {
    content: "\e97f";
}
.icon-arrow-left:before {
    content: "\e980";
}
.icon-arrow-right:before {
    content: "\e981";
}
.icon-arrows:before {
    content: "\e982";
}
.icon-audio:before {
    content: "\e983";
}
.icon-badge-alone:before {
    content: "\e984";
}
.icon-big-arrow-right:before {
    content: "\e985";
}
.icon-boy:before {
    content: "\e986";
}
.icon-building:before {
    content: "\e987";
}
.icon-calendar:before {
    content: "\e988";
}
.icon-calendar-check:before {
    content: "\e989";
}
.icon-calendar-clock:before {
    content: "\e98a";
}
.icon-cart:before {
    content: "\e98b";
}
.icon-caution:before {
    content: "\e98c";
}
.icon-chat:before {
    content: "\e98d";
}
.icon-chat2:before {
    content: "\e98e";
}
.icon-checking:before {
    content: "\e98f";
}
.icon-clip:before {
    content: "\e990";
}
.icon-clock-outline:before {
    content: "\e991";
}
.icon-close:before {
    content: "\e992";
}
.icon-close-round:before {
    content: "\e993";
}
.icon-cloud-download:before {
    content: "\e994";
}
.icon-cogwheel:before {
    content: "\e995";
}
.icon-college:before {
    content: "\e996";
}
.icon-description:before {
    content: "\e997";
}
.icon-edit:before {
    content: "\e998";
}
.icon-educator:before {
    content: "\e999";
}
.icon-envelope:before {
    content: "\e99a";
}
.icon-etc:before {
    content: "\e99b";
}
.icon-exclamation:before {
    content: "\e99c";
}
.icon-eye:before {
    content: "\e99d";
}
.icon-facebook:before {
    content: "\e99e";
}
.icon-facebook2:before {
    content: "\e99f";
}
.icon-film:before {
    content: "\e9a0";
}
.icon-film-eye:before {
    content: "\e9a1";
}
.icon-flag:before {
    content: "\e9a2";
}
.icon-folder:before {
    content: "\e9a3";
}
.icon-go-back-arrow:before {
    content: "\e9a4";
}
.icon-google-plus:before {
    content: "\e9a5";
}
.icon-heart:before {
    content: "\e9a6";
}
.icon-insert-pic:before {
    content: "\e9a7";
}
.icon-link:before {
    content: "\e9a8";
}
.icon-location:before {
    content: "\e9a9";
}
.icon-lock:before {
    content: "\e9aa";
}
.icon-logo:before {
    content: "\e9ab";
}
.icon-logo-eye:before {
    content: "\e9ac";
}
.icon-logo-film:before {
    content: "\e9ad";
}
.icon-logout:before {
    content: "\e9ae";
}
.icon-media:before {
    content: "\e9af";
}
.icon-menu:before {
    content: "\e9b0";
}
.icon-mini-arrow-down:before {
    content: "\e9b1";
}
.icon-movie:before {
    content: "\e9b2";
}
.icon-new-tab:before {
    content: "\e9b3";
}
.icon-note:before {
    content: "\e9b4";
}
.icon-note-blog:before {
    content: "\e9b5";
}
.icon-old-building:before {
    content: "\e9b6";
}
.icon-open-chat:before {
    content: "\e9b7";
}
.icon-paper-plane:before {
    content: "\e9b8";
}
.icon-pencil:before {
    content: "\e9b9";
}
.icon-people:before {
    content: "\e9ba";
}
.icon-player:before {
    content: "\e9bb";
}
.icon-play-tube:before {
    content: "\e9bc";
}
.icon-plus:before {
    content: "\e9bd";
}
.icon-price:before {
    content: "\e9be";
}
.icon-producer:before {
    content: "\e9bf";
}
.icon-reload:before {
    content: "\e9c0";
}
.icon-remove:before {
    content: "\e9c1";
}
.icon-search:before {
    content: "\e9c2";
}
.icon-share:before {
    content: "\e9c3";
}
.icon-star:before {
    content: "\e9c4";
}
.icon-star-flag:before {
    content: "\e9c5";
}
.icon-star-outline:before {
    content: "\e9c6";
}
.icon-tail-arrow:before {
    content: "\e9c7";
}
.icon-ticket:before {
    content: "\e9c8";
}
.icon-twitter:before {
    content: "\e9c9";
}
.icon-two-way-arrow:before {
    content: "\e9ca";
}
.icon-vimeo:before {
    content: "\e9cb";
}
.icon-world:before {
    content: "\e9cc";
}
.icon-youtube:before {
    content: "\e9cd";
}
.icon-report:before {
    content: "\e9ce";
}
.icon-player-thin:before {
    content: "\e9cf";
}
.icon-thumb-down:before {
    content: "\e9d0";
}
.icon-thumb-up:before {
    content: "\e9d1";
}
.icon-audio-description:before {
    content: "\e9d2";
}
.icon-close-caption:before {
    content: "\e9d3";
}
.icon-info:before {
    content: "\e9d4";
}
.icon-sign-language:before {
    content: "\e9d5";
}
.icon-char:before {
    content: "\e9d6";
}
.icon-play:before {
    content: "\e9d7";
}
.icon-badge:before {
    content: "\e9d8";
}
.icon-instagram:before {
    content: "\e9d9";
}
.icon-download-arrow:before {
    content: "\e9da";
}
.icon-seta-dupla:before {
    content: "\e9db";
}
.icon-arrow-down1:before {
    content: "\e900";
}
.icon-plus1:before {
    content: "\e901";
}
.icon-star1:before {
    content: "\e902";
}
.icon-facebook1:before {
    content: "\e903";
}
.icon-minus:before {
    content: "\e904";
}
.icon-twitter1:before {
    content: "\e90c";
}
.icon-fechar:before {
    content: "\e90f";
}
.icon-arrow-left1:before {
    content: "\e910";
}
.icon-arrow-right1:before {
    content: "\e913";
}
.icon-search1:before {
    content: "\e915";
}
.icon-google:before {
    content: "\ea8b";
}
.icon-instagram1:before {
    content: "\ea92";
}
.icon-more-arrow:before {
    content: "\e905";
}
.icon-more:before {
    content: "\e906";
}
.icon-plus2:before {
    content: "\e907";
}
.icon-slide-next:before {
    content: "\e908";
}
.icon-slide-prev:before {
    content: "\e909";
}
.icon-download-arrow1:before {
    content: "\e95b";
}
.icon-arrow-down2:before {
    content: "\e90a";
}
.icon-arrow-left2:before {
    content: "\e90b";
}
.icon-arrow-right2:before {
    content: "\e90d";
}
.icon-arrows1:before {
    content: "\e90e";
}
.icon-audio1:before {
    content: "\e916";
}
.icon-badge-alone1:before {
    content: "\e917";
}
.icon-big-arrow-right1:before {
    content: "\e918";
}
.icon-boy1:before {
    content: "\e919";
}
.icon-building1:before {
    content: "\e91a";
}
.icon-calendar1:before {
    content: "\e91b";
}
.icon-calendar-check1:before {
    content: "\e91c";
}
.icon-calendar-clock1:before {
    content: "\e91d";
}
.icon-cart1:before {
    content: "\e91e";
}
.icon-caution1:before {
    content: "\e91f";
}
.icon-chat1:before {
    content: "\e920";
}
.icon-chat21:before {
    content: "\e921";
}
.icon-checking1:before {
    content: "\e922";
}
.icon-clip1:before {
    content: "\e911";
}
.icon-clock-outline1:before {
    content: "\e912";
}
.icon-close1:before {
    content: "\e914";
}
.icon-close-round1:before {
    content: "\e926";
}
.icon-cloud-download1:before {
    content: "\e927";
}
.icon-cogwheel1:before {
    content: "\e928";
}
.icon-college1:before {
    content: "\e929";
}
.icon-description1:before {
    content: "\e92a";
}
.icon-edit1:before {
    content: "\e92b";
}
.icon-educator1:before {
    content: "\e92c";
}
.icon-envelope1:before {
    content: "\e92d";
}
.icon-etc1:before {
    content: "\e92e";
}
.icon-exclamation1:before {
    content: "\e92f";
}
.icon-eye1:before {
    content: "\e930";
}
.icon-facebook3:before {
    content: "\e931";
}
.icon-facebook21:before {
    content: "\e932";
}
.icon-film1:before {
    content: "\e933";
}
.icon-film-eye1:before {
    content: "\e934";
}
.icon-flag1:before {
    content: "\e923";
}
.icon-folder1:before {
    content: "\e924";
}
.icon-go-back-arrow1:before {
    content: "\e925";
}
.icon-google-plus1:before {
    content: "\e938";
}
.icon-heart1:before {
    content: "\e939";
}
.icon-insert-pic1:before {
    content: "\e93a";
}
.icon-link1:before {
    content: "\e93b";
}
.icon-location1:before {
    content: "\e93c";
}
.icon-lock1:before {
    content: "\e93d";
}
.icon-logo1:before {
    content: "\e93e";
}
.icon-logo-eye1:before {
    content: "\e93f";
}
.icon-logo-film1:before {
    content: "\e940";
}
.icon-logout1:before {
    content: "\e941";
}
.icon-media1:before {
    content: "\e942";
}
.icon-menu1:before {
    content: "\e943";
}
.icon-mini-arrow-down1:before {
    content: "\e944";
}
.icon-movie1:before {
    content: "\e945";
}
.icon-new-tab1:before {
    content: "\e946";
}
.icon-note1:before {
    content: "\e935";
}
.icon-note-blog1:before {
    content: "\e936";
}
.icon-old-building1:before {
    content: "\e937";
}
.icon-open-chat1:before {
    content: "\e95c";
}
.icon-paper-plane1:before {
    content: "\e95d";
}
.icon-pencil1:before {
    content: "\e95e";
}
.icon-people1:before {
    content: "\e95f";
}
.icon-player1:before {
    content: "\e960";
}
.icon-play-tube1:before {
    content: "\e961";
}
.icon-plus3:before {
    content: "\e962";
}
.icon-price1:before {
    content: "\e963";
}
.icon-producer1:before {
    content: "\e964";
}
.icon-reload1:before {
    content: "\e965";
}
.icon-remove1:before {
    content: "\e966";
}
.icon-search2:before {
    content: "\e967";
}
.icon-share1:before {
    content: "\e968";
}
.icon-star2:before {
    content: "\e969";
}
.icon-star-flag1:before {
    content: "\e96a";
}
.icon-star-outline1:before {
    content: "\e947";
}
.icon-tail-arrow1:before {
    content: "\e948";
}
.icon-ticket1:before {
    content: "\e949";
}
.icon-twitter2:before {
    content: "\e94a";
}
.icon-two-way-arrow1:before {
    content: "\e94b";
}
.icon-vimeo1:before {
    content: "\e94c";
}
.icon-world1:before {
    content: "\e94d";
}
.icon-youtube1:before {
    content: "\e94e";
}
.icon-report1:before {
    content: "\e94f";
}
.icon-player-thin1:before {
    content: "\e950";
}
.icon-thumb-down1:before {
    content: "\e951";
}
.icon-thumb-up1:before {
    content: "\e952";
}
.icon-audio-description1:before {
    content: "\e953";
}
.icon-close-caption1:before {
    content: "\e954";
}
.icon-info1:before {
    content: "\e955";
}
.icon-sign-language1:before {
    content: "\e956";
}
.icon-char1:before {
    content: "\e957";
}
.icon-play1:before {
    content: "\e958";
}
.icon-badge1:before {
    content: "\e959";
}
.icon-instagram2:before {
    content: "\e95a";
}
.icon-download:before {
    content: "\e96b";
}
.icon-atacado:before {
    content: "\e96c";
}
.icon-plus4:before {
    content: "\e96d";
}
.icon-arrow-right3:before {
    content: "\e96e";
}
.icon-arrow-left3:before {
    content: "\e96f";
}
.icon-search3:before {
    content: "\e970";
}
.icon-category:before {
    content: "\e971";
}
.icon-minus1:before {
    content: "\e972";
}
.icon-twitter3:before {
    content: "\e973";
}
.icon-arrow-down3:before {
    content: "\e974";
}
.icon-close2:before {
    content: "\e975";
}
.icon-google1:before {
    content: "\ea8c";
}
.icon-facebook4:before {
    content: "\ea90";
}
.icon-facebook-circle:before {
    content: "\e976";
}
.icon-decrease:before {
    content: "\e977";
}
.icon-contrast:before {
    content: "\e978";
}
.icon-play-circle:before {
    content: "\e979";
}
.icon-play2:before {
    content: "\e97a";
}
.icon-increase:before {
    content: "\e97b";
}
.icon-chevron-up:before {
    content: "\e97c";
}
.icon-mail:before {
    content: "\e97d";
}
.icon-facebook5:before {
    content: "\ea91";
}
.icon-instagram3:before {
    content: "\ea93";
}
.icon-twitter4:before {
    content: "\ea96";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close3:before {
    content: "\f00d";
}
.icon-power-off:before {
    content: "\f011";
}
.icon-pencil2:before {
    content: "\f040";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-plus5:before {
    content: "\f067";
}
.icon-info2:before {
    content: "\f129";
}
.icon-home:before {
    content: "\e9dc";
}
.icon-home2:before {
    content: "\e9dd";
}
.icon-home3:before {
    content: "\e9de";
}
.icon-office:before {
    content: "\e9df";
}
.icon-newspaper:before {
    content: "\e9e0";
}
.icon-pencil3:before {
    content: "\e9e1";
}
.icon-pencil21:before {
    content: "\e9e2";
}
.icon-quill:before {
    content: "\e9e3";
}
.icon-pen:before {
    content: "\e9e4";
}
.icon-blog:before {
    content: "\e9e5";
}
.icon-eyedropper:before {
    content: "\e9e6";
}
.icon-droplet:before {
    content: "\e9e7";
}
.icon-paint-format:before {
    content: "\e9e8";
}
.icon-image:before {
    content: "\e9e9";
}
.icon-images:before {
    content: "\e9ea";
}
.icon-camera:before {
    content: "\e9eb";
}
.icon-headphones:before {
    content: "\e9ec";
}
.icon-music:before {
    content: "\e9ed";
}
.icon-play3:before {
    content: "\e9ee";
}
.icon-film2:before {
    content: "\e9ef";
}
.icon-video-camera:before {
    content: "\e9f0";
}
.icon-dice:before {
    content: "\e9f1";
}
.icon-pacman:before {
    content: "\e9f2";
}
.icon-spades:before {
    content: "\e9f3";
}
.icon-clubs:before {
    content: "\e9f4";
}
.icon-diamonds:before {
    content: "\e9f5";
}
.icon-bullhorn:before {
    content: "\e9f6";
}
.icon-connection:before {
    content: "\e9f7";
}
.icon-podcast:before {
    content: "\e9f8";
}
.icon-feed:before {
    content: "\e9f9";
}
.icon-mic:before {
    content: "\e9fa";
}
.icon-book:before {
    content: "\e9fb";
}
.icon-books:before {
    content: "\e9fc";
}
.icon-library:before {
    content: "\e9fd";
}
.icon-file-text:before {
    content: "\e9fe";
}
.icon-profile:before {
    content: "\e9ff";
}
.icon-file-empty:before {
    content: "\ea00";
}
.icon-files-empty:before {
    content: "\ea01";
}
.icon-file-text2:before {
    content: "\ea02";
}
.icon-file-picture:before {
    content: "\ea03";
}
.icon-file-music:before {
    content: "\ea04";
}
.icon-file-play:before {
    content: "\ea05";
}
.icon-file-video:before {
    content: "\ea06";
}
.icon-file-zip:before {
    content: "\ea07";
}
.icon-copy:before {
    content: "\ea08";
}
.icon-paste:before {
    content: "\ea09";
}
.icon-stack:before {
    content: "\ea0a";
}
.icon-folder2:before {
    content: "\ea0b";
}
.icon-folder-open:before {
    content: "\ea0c";
}
.icon-folder-plus:before {
    content: "\ea0d";
}
.icon-folder-minus:before {
    content: "\ea0e";
}
.icon-folder-download:before {
    content: "\ea0f";
}
.icon-folder-upload:before {
    content: "\ea10";
}
.icon-price-tag:before {
    content: "\ea11";
}
.icon-price-tags:before {
    content: "\ea12";
}
.icon-barcode:before {
    content: "\ea13";
}
.icon-qrcode:before {
    content: "\ea14";
}
.icon-ticket2:before {
    content: "\ea15";
}
.icon-cart2:before {
    content: "\ea16";
}
.icon-coin-dollar:before {
    content: "\ea17";
}
.icon-coin-euro:before {
    content: "\ea18";
}
.icon-coin-pound:before {
    content: "\ea19";
}
.icon-coin-yen:before {
    content: "\ea1a";
}
.icon-credit-card:before {
    content: "\ea1b";
}
.icon-calculator:before {
    content: "\ea1c";
}
.icon-lifebuoy:before {
    content: "\ea1d";
}
.icon-phone:before {
    content: "\ea1e";
}
.icon-phone-hang-up:before {
    content: "\ea1f";
}
.icon-address-book:before {
    content: "\ea20";
}
.icon-envelop:before {
    content: "\ea21";
}
.icon-pushpin:before {
    content: "\ea22";
}
.icon-location2:before {
    content: "\ea23";
}
.icon-location21:before {
    content: "\ea24";
}
.icon-compass:before {
    content: "\ea25";
}
.icon-compass2:before {
    content: "\ea26";
}
.icon-map:before {
    content: "\ea27";
}
.icon-map2:before {
    content: "\ea28";
}
.icon-history:before {
    content: "\ea29";
}
.icon-clock:before {
    content: "\ea2a";
}
.icon-clock2:before {
    content: "\ea2b";
}
.icon-alarm:before {
    content: "\ea2c";
}
.icon-bell:before {
    content: "\ea2d";
}
.icon-stopwatch:before {
    content: "\ea2e";
}
.icon-calendar2:before {
    content: "\ea2f";
}
.icon-printer:before {
    content: "\ea30";
}
.icon-keyboard:before {
    content: "\ea31";
}
.icon-display:before {
    content: "\ea32";
}
.icon-laptop:before {
    content: "\ea33";
}
.icon-mobile:before {
    content: "\ea34";
}
.icon-mobile2:before {
    content: "\ea35";
}
.icon-tablet:before {
    content: "\ea36";
}
.icon-tv:before {
    content: "\ea37";
}
.icon-drawer:before {
    content: "\ea38";
}
.icon-drawer2:before {
    content: "\ea39";
}
.icon-box-add:before {
    content: "\ea3a";
}
.icon-box-remove:before {
    content: "\ea3b";
}
.icon-download1:before {
    content: "\ea3c";
}
.icon-upload:before {
    content: "\ea3d";
}
.icon-floppy-disk:before {
    content: "\ea3e";
}
.icon-drive:before {
    content: "\ea3f";
}
.icon-database:before {
    content: "\ea40";
}
.icon-undo:before {
    content: "\ea41";
}
.icon-redo:before {
    content: "\ea42";
}
.icon-undo2:before {
    content: "\ea43";
}
.icon-redo2:before {
    content: "\ea44";
}
.icon-forward:before {
    content: "\ea45";
}
.icon-reply:before {
    content: "\ea46";
}
.icon-bubble:before {
    content: "\ea47";
}
.icon-bubbles:before {
    content: "\ea48";
}
.icon-bubbles2:before {
    content: "\ea49";
}
.icon-bubble2:before {
    content: "\ea4a";
}
.icon-bubbles3:before {
    content: "\ea4b";
}
.icon-bubbles4:before {
    content: "\ea4c";
}
.icon-user:before {
    content: "\e97e";
}
.icon-users:before {
    content: "\ea4d";
}
.icon-user-plus:before {
    content: "\ea4e";
}
.icon-user-minus:before {
    content: "\ea4f";
}
.icon-user-check:before {
    content: "\ea50";
}
.icon-user-tie:before {
    content: "\ea51";
}
.icon-quotes-left:before {
    content: "\ea52";
}
.icon-quotes-right:before {
    content: "\ea53";
}
.icon-hour-glass:before {
    content: "\ea54";
}
.icon-spinner:before {
    content: "\ea55";
}
.icon-spinner2:before {
    content: "\ea56";
}
.icon-spinner3:before {
    content: "\ea57";
}
.icon-spinner4:before {
    content: "\ea58";
}
.icon-spinner5:before {
    content: "\ea59";
}
.icon-spinner6:before {
    content: "\ea5a";
}
.icon-spinner7:before {
    content: "\ea5b";
}
.icon-spinner8:before {
    content: "\ea5c";
}
.icon-spinner9:before {
    content: "\ea5d";
}
.icon-spinner10:before {
    content: "\ea5e";
}
.icon-spinner11:before {
    content: "\ea5f";
}
.icon-binoculars:before {
    content: "\ea60";
}
.icon-search4:before {
    content: "\ea61";
}
.icon-zoom-in:before {
    content: "\ea62";
}
.icon-zoom-out:before {
    content: "\ea63";
}
.icon-enlarge:before {
    content: "\ea64";
}
.icon-shrink:before {
    content: "\ea65";
}
.icon-enlarge2:before {
    content: "\ea66";
}
.icon-shrink2:before {
    content: "\ea67";
}
.icon-key:before {
    content: "\ea68";
}
.icon-key2:before {
    content: "\ea69";
}
.icon-lock2:before {
    content: "\ea6a";
}
.icon-unlocked:before {
    content: "\ea6b";
}
.icon-wrench:before {
    content: "\ea6c";
}
.icon-equalizer:before {
    content: "\ea6d";
}
.icon-equalizer2:before {
    content: "\ea6e";
}
.icon-cog:before {
    content: "\ea6f";
}
.icon-cogs:before {
    content: "\ea70";
}
.icon-hammer:before {
    content: "\ea71";
}
.icon-magic-wand:before {
    content: "\ea72";
}
.icon-aid-kit:before {
    content: "\ea73";
}
.icon-bug:before {
    content: "\ea74";
}
.icon-pie-chart:before {
    content: "\ea75";
}
.icon-stats-dots:before {
    content: "\ea76";
}
.icon-stats-bars:before {
    content: "\ea77";
}
.icon-stats-bars2:before {
    content: "\ea78";
}
.icon-trophy:before {
    content: "\ea79";
}
.icon-gift:before {
    content: "\ea7a";
}
.icon-glass:before {
    content: "\ea7b";
}
.icon-glass2:before {
    content: "\ea7c";
}
.icon-mug:before {
    content: "\ea7d";
}
.icon-spoon-knife:before {
    content: "\ea7e";
}
.icon-leaf:before {
    content: "\ea7f";
}
.icon-rocket:before {
    content: "\ea80";
}
.icon-meter:before {
    content: "\ea81";
}
.icon-meter2:before {
    content: "\ea82";
}
.icon-hammer2:before {
    content: "\ea83";
}
.icon-fire:before {
    content: "\ea84";
}
.icon-lab:before {
    content: "\ea85";
}
.icon-magnet:before {
    content: "\ea86";
}
.icon-bin:before {
    content: "\ea87";
}
.icon-bin2:before {
    content: "\ea88";
}
.icon-briefcase:before {
    content: "\ea89";
}
.icon-airplane:before {
    content: "\ea8a";
}
.icon-truck:before {
    content: "\ea8d";
}
.icon-road:before {
    content: "\ea8e";
}
.icon-accessibility:before {
    content: "\ea8f";
}
.icon-target:before {
    content: "\ea94";
}
.icon-shield:before {
    content: "\ea95";
}
.icon-power:before {
    content: "\ea97";
}
.icon-switch:before {
    content: "\ea98";
}
.icon-power-cord:before {
    content: "\ea99";
}
.icon-clipboard:before {
    content: "\ea9a";
}
.icon-list-numbered:before {
    content: "\ea9b";
}
.icon-list:before {
    content: "\ea9c";
}
.icon-list2:before {
    content: "\ea9d";
}
.icon-tree:before {
    content: "\ea9e";
}
.icon-menu2:before {
    content: "\ea9f";
}
.icon-menu21:before {
    content: "\eaa0";
}
.icon-menu3:before {
    content: "\eaa1";
}
.icon-menu4:before {
    content: "\eaa2";
}
.icon-cloud:before {
    content: "\eaa3";
}
.icon-cloud-download2:before {
    content: "\eaa4";
}
.icon-cloud-upload:before {
    content: "\eaa5";
}
.icon-cloud-check:before {
    content: "\eaa6";
}
.icon-download2:before {
    content: "\eaa7";
}
.icon-upload2:before {
    content: "\eaa8";
}
.icon-download3:before {
    content: "\eaa9";
}
.icon-upload3:before {
    content: "\eaaa";
}
.icon-sphere:before {
    content: "\eaab";
}
.icon-earth:before {
    content: "\eaac";
}
.icon-link2:before {
    content: "\eaad";
}
.icon-flag2:before {
    content: "\eaae";
}
.icon-attachment:before {
    content: "\eaaf";
}
.icon-eye2:before {
    content: "\eab0";
}
.icon-eye-plus:before {
    content: "\eab1";
}
.icon-eye-minus:before {
    content: "\eab2";
}
.icon-eye-blocked:before {
    content: "\eab3";
}
.icon-bookmark:before {
    content: "\eab4";
}
.icon-bookmarks:before {
    content: "\eab5";
}
.icon-sun:before {
    content: "\eab6";
}
.icon-contrast1:before {
    content: "\eab7";
}
.icon-brightness-contrast:before {
    content: "\eab8";
}
.icon-star-empty:before {
    content: "\eab9";
}
.icon-star-half:before {
    content: "\eaba";
}
.icon-star-full:before {
    content: "\eabb";
}
.icon-heart2:before {
    content: "\eabc";
}
.icon-heart-broken:before {
    content: "\eabd";
}
.icon-man:before {
    content: "\eabe";
}
.icon-woman:before {
    content: "\eabf";
}
.icon-man-woman:before {
    content: "\eac0";
}
.icon-happy:before {
    content: "\eac1";
}
.icon-happy2:before {
    content: "\eac2";
}
.icon-smile:before {
    content: "\eac3";
}
.icon-smile2:before {
    content: "\eac4";
}
.icon-tongue:before {
    content: "\eac5";
}
.icon-tongue2:before {
    content: "\eac6";
}
.icon-sad:before {
    content: "\eac7";
}
.icon-sad2:before {
    content: "\eac8";
}
.icon-wink:before {
    content: "\eac9";
}
.icon-wink2:before {
    content: "\eacb";
}
.icon-grin:before {
    content: "\eacc";
}
.icon-grin2:before {
    content: "\eacd";
}
.icon-cool:before {
    content: "\eace";
}
.icon-cool2:before {
    content: "\eacf";
}
.icon-angry:before {
    content: "\ead0";
}
.icon-angry2:before {
    content: "\ead1";
}
.icon-evil:before {
    content: "\ead2";
}
.icon-evil2:before {
    content: "\ead3";
}
.icon-shocked:before {
    content: "\ead4";
}
.icon-shocked2:before {
    content: "\ead5";
}
.icon-baffled:before {
    content: "\ead6";
}
.icon-baffled2:before {
    content: "\ead7";
}
.icon-confused:before {
    content: "\ead8";
}
.icon-confused2:before {
    content: "\ead9";
}
.icon-neutral:before {
    content: "\eada";
}
.icon-neutral2:before {
    content: "\eadb";
}
.icon-hipster:before {
    content: "\eadc";
}
.icon-hipster2:before {
    content: "\eadd";
}
.icon-wondering:before {
    content: "\eade";
}
.icon-wondering2:before {
    content: "\eadf";
}
.icon-sleepy:before {
    content: "\eae0";
}
.icon-sleepy2:before {
    content: "\eae1";
}
.icon-frustrated:before {
    content: "\eae2";
}
.icon-frustrated2:before {
    content: "\eae3";
}
.icon-crying:before {
    content: "\eae4";
}
.icon-crying2:before {
    content: "\eae5";
}
.icon-point-up:before {
    content: "\eae6";
}
.icon-point-right:before {
    content: "\eae7";
}
.icon-point-down:before {
    content: "\eae8";
}
.icon-point-left:before {
    content: "\eae9";
}
.icon-warning:before {
    content: "\eaea";
}
.icon-notification:before {
    content: "\eaeb";
}
.icon-question:before {
    content: "\eaec";
}
.icon-plus6:before {
    content: "\eaed";
}
.icon-minus2:before {
    content: "\eaee";
}
.icon-info3:before {
    content: "\eaef";
}
.icon-cancel-circle:before {
    content: "\eaf0";
}
.icon-blocked:before {
    content: "\eaf1";
}
.icon-cross:before {
    content: "\eaf2";
}
.icon-checkmark:before {
    content: "\eaf3";
}
.icon-checkmark2:before {
    content: "\eaf4";
}
.icon-spell-check:before {
    content: "\eaf5";
}
.icon-enter:before {
    content: "\eaf6";
}
.icon-exit:before {
    content: "\eaf7";
}
.icon-play21:before {
    content: "\eaf8";
}
.icon-pause:before {
    content: "\eaf9";
}
.icon-stop:before {
    content: "\eafa";
}
.icon-previous:before {
    content: "\eafb";
}
.icon-next:before {
    content: "\eafc";
}
.icon-backward:before {
    content: "\eafd";
}
.icon-forward2:before {
    content: "\eafe";
}
.icon-play31:before {
    content: "\eaff";
}
.icon-pause2:before {
    content: "\eb00";
}
.icon-stop2:before {
    content: "\eb01";
}
.icon-backward2:before {
    content: "\eb02";
}
.icon-forward3:before {
    content: "\eb03";
}
.icon-first:before {
    content: "\eb04";
}
.icon-last:before {
    content: "\eb05";
}
.icon-previous2:before {
    content: "\eb06";
}
.icon-next2:before {
    content: "\eb07";
}
.icon-eject:before {
    content: "\eb08";
}
.icon-volume-high:before {
    content: "\eb09";
}
.icon-volume-medium:before {
    content: "\eb0a";
}
.icon-volume-low:before {
    content: "\eb0b";
}
.icon-volume-mute:before {
    content: "\eb0c";
}
.icon-volume-mute2:before {
    content: "\eb0d";
}
.icon-volume-increase:before {
    content: "\eb0e";
}
.icon-volume-decrease:before {
    content: "\eb0f";
}
.icon-loop:before {
    content: "\eb10";
}
.icon-loop2:before {
    content: "\eb11";
}
.icon-infinite:before {
    content: "\eb12";
}
.icon-shuffle:before {
    content: "\eb13";
}
.icon-arrow-up-left:before {
    content: "\eb14";
}
.icon-arrow-up:before {
    content: "\eb15";
}
.icon-arrow-up-right:before {
    content: "\eb16";
}
.icon-arrow-right4:before {
    content: "\eb17";
}
.icon-arrow-down-right:before {
    content: "\eb18";
}
.icon-arrow-down4:before {
    content: "\eb19";
}
.icon-arrow-down-left:before {
    content: "\eb1a";
}
.icon-arrow-left4:before {
    content: "\eb1b";
}
.icon-arrow-up-left2:before {
    content: "\eb1c";
}
.icon-arrow-up2:before {
    content: "\eb1d";
}
.icon-arrow-up-right2:before {
    content: "\eb1e";
}
.icon-arrow-right21:before {
    content: "\eb1f";
}
.icon-arrow-down-right2:before {
    content: "\eb20";
}
.icon-arrow-down21:before {
    content: "\eb21";
}
.icon-arrow-down-left2:before {
    content: "\eb22";
}
.icon-arrow-left21:before {
    content: "\eb23";
}
.icon-circle-up:before {
    content: "\eb24";
}
.icon-circle-right:before {
    content: "\eb25";
}
.icon-circle-down:before {
    content: "\eb26";
}
.icon-circle-left:before {
    content: "\eb27";
}
.icon-tab:before {
    content: "\eb28";
}
.icon-move-up:before {
    content: "\eb29";
}
.icon-move-down:before {
    content: "\eb2a";
}
.icon-sort-alpha-asc:before {
    content: "\eb2b";
}
.icon-sort-alpha-desc:before {
    content: "\eb2c";
}
.icon-sort-numeric-asc:before {
    content: "\eb2d";
}
.icon-sort-numberic-desc:before {
    content: "\eb2e";
}
.icon-sort-amount-asc:before {
    content: "\eb2f";
}
.icon-sort-amount-desc:before {
    content: "\eb30";
}
.icon-command:before {
    content: "\eb31";
}
.icon-shift:before {
    content: "\eb32";
}
.icon-ctrl:before {
    content: "\eb33";
}
.icon-opt:before {
    content: "\eb34";
}
.icon-checkbox-checked:before {
    content: "\eb35";
}
.icon-checkbox-unchecked:before {
    content: "\eb36";
}
.icon-radio-checked:before {
    content: "\eb37";
}
.icon-radio-checked2:before {
    content: "\eb38";
}
.icon-radio-unchecked:before {
    content: "\eb39";
}
.icon-crop:before {
    content: "\eb3a";
}
.icon-make-group:before {
    content: "\eb3b";
}
.icon-ungroup:before {
    content: "\eb3c";
}
.icon-scissors:before {
    content: "\eb3d";
}
.icon-filter:before {
    content: "\eb3e";
}
.icon-font:before {
    content: "\eb3f";
}
.icon-ligature:before {
    content: "\eb40";
}
.icon-ligature2:before {
    content: "\eb41";
}
.icon-text-height:before {
    content: "\eb42";
}
.icon-text-width:before {
    content: "\eb43";
}
.icon-font-size:before {
    content: "\eb44";
}
.icon-bold:before {
    content: "\eb45";
}
.icon-underline:before {
    content: "\eb46";
}
.icon-italic:before {
    content: "\eb47";
}
.icon-strikethrough:before {
    content: "\eb48";
}
.icon-omega:before {
    content: "\eb49";
}
.icon-sigma:before {
    content: "\eb4a";
}
.icon-page-break:before {
    content: "\eb4b";
}
.icon-superscript:before {
    content: "\eb4c";
}
.icon-subscript:before {
    content: "\eb4d";
}
.icon-superscript2:before {
    content: "\eb4e";
}
.icon-subscript2:before {
    content: "\eb4f";
}
.icon-text-color:before {
    content: "\eb50";
}
.icon-pagebreak:before {
    content: "\eb51";
}
.icon-clear-formatting:before {
    content: "\eb52";
}
.icon-table:before {
    content: "\eb53";
}
.icon-table2:before {
    content: "\eb54";
}
.icon-insert-template:before {
    content: "\eb55";
}
.icon-pilcrow:before {
    content: "\eb56";
}
.icon-ltr:before {
    content: "\eb57";
}
.icon-rtl:before {
    content: "\eb58";
}
.icon-section:before {
    content: "\eb59";
}
.icon-paragraph-left:before {
    content: "\eb5a";
}
.icon-paragraph-center:before {
    content: "\eb5b";
}
.icon-paragraph-right:before {
    content: "\eb5c";
}
.icon-paragraph-justify:before {
    content: "\eb5d";
}
.icon-indent-increase:before {
    content: "\eb5e";
}
.icon-indent-decrease:before {
    content: "\eb5f";
}
.icon-share2:before {
    content: "\eb60";
}
.icon-new-tab2:before {
    content: "\eb61";
}
.icon-embed:before {
    content: "\eb62";
}
.icon-embed2:before {
    content: "\eb63";
}
.icon-terminal:before {
    content: "\eb64";
}
.icon-share21:before {
    content: "\eb65";
}
.icon-mail1:before {
    content: "\eb66";
}
.icon-mail2:before {
    content: "\eb67";
}
.icon-mail3:before {
    content: "\eb68";
}
.icon-mail4:before {
    content: "\eb69";
}
.icon-amazon:before {
    content: "\eb6a";
}
.icon-google2:before {
    content: "\eb6b";
}
.icon-google21:before {
    content: "\eb6c";
}
.icon-google3:before {
    content: "\eb6d";
}
.icon-google-plus2:before {
    content: "\eb6e";
}
.icon-google-plus21:before {
    content: "\eb6f";
}
.icon-google-plus3:before {
    content: "\eb70";
}
.icon-hangouts:before {
    content: "\eb71";
}
.icon-google-drive:before {
    content: "\eb72";
}
.icon-facebook6:before {
    content: "\eb73";
}
.icon-facebook22:before {
    content: "\eb74";
}
.icon-instagram4:before {
    content: "\eb75";
}
.icon-whatsapp:before {
    content: "\eb76";
}
.icon-spotify:before {
    content: "\eb77";
}
.icon-telegram:before {
    content: "\eb78";
}
.icon-twitter5:before {
    content: "\eb79";
}
.icon-vine:before {
    content: "\eb7a";
}
.icon-vk:before {
    content: "\eb7b";
}
.icon-renren:before {
    content: "\eb7c";
}
.icon-sina-weibo:before {
    content: "\eb7d";
}
.icon-rss:before {
    content: "\eb7e";
}
.icon-rss2:before {
    content: "\eb7f";
}
.icon-youtube2:before {
    content: "\eb80";
}
.icon-youtube21:before {
    content: "\eb81";
}
.icon-twitch:before {
    content: "\eb82";
}
.icon-vimeo2:before {
    content: "\eb83";
}
.icon-vimeo21:before {
    content: "\eb84";
}
.icon-lanyrd:before {
    content: "\eb85";
}
.icon-flickr:before {
    content: "\eb86";
}
.icon-flickr2:before {
    content: "\eb87";
}
.icon-flickr3:before {
    content: "\eb88";
}
.icon-flickr4:before {
    content: "\eb89";
}
.icon-dribbble:before {
    content: "\eb8a";
}
.icon-behance:before {
    content: "\eb8b";
}
.icon-behance2:before {
    content: "\eb8c";
}
.icon-deviantart:before {
    content: "\eb8d";
}
.icon-500px:before {
    content: "\eb8e";
}
.icon-steam:before {
    content: "\eb8f";
}
.icon-steam2:before {
    content: "\eb90";
}
.icon-dropbox:before {
    content: "\eb91";
}
.icon-onedrive:before {
    content: "\eb92";
}
.icon-github:before {
    content: "\eb93";
}
.icon-npm:before {
    content: "\eb94";
}
.icon-basecamp:before {
    content: "\eb95";
}
.icon-trello:before {
    content: "\eb96";
}
.icon-wordpress:before {
    content: "\eb97";
}
.icon-joomla:before {
    content: "\eb98";
}
.icon-ello:before {
    content: "\eb99";
}
.icon-blogger:before {
    content: "\eb9a";
}
.icon-blogger2:before {
    content: "\eb9b";
}
.icon-tumblr:before {
    content: "\eb9c";
}
.icon-tumblr2:before {
    content: "\eb9d";
}
.icon-yahoo:before {
    content: "\eb9e";
}
.icon-yahoo2:before {
    content: "\eb9f";
}
.icon-tux:before {
    content: "\eba0";
}
.icon-appleinc:before {
    content: "\eba1";
}
.icon-finder:before {
    content: "\eba2";
}
.icon-android:before {
    content: "\eba3";
}
.icon-windows:before {
    content: "\eba4";
}
.icon-windows8:before {
    content: "\eba5";
}
.icon-soundcloud:before {
    content: "\eba6";
}
.icon-soundcloud2:before {
    content: "\eba7";
}
.icon-skype:before {
    content: "\eba8";
}
.icon-reddit:before {
    content: "\eba9";
}
.icon-hackernews:before {
    content: "\ebaa";
}
.icon-wikipedia:before {
    content: "\ebab";
}
.icon-linkedin:before {
    content: "\ebac";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-lastfm:before {
    content: "\ebad";
}
.icon-lastfm2:before {
    content: "\ebae";
}
.icon-delicious:before {
    content: "\ebaf";
}
.icon-stumbleupon:before {
    content: "\ebb0";
}
.icon-stumbleupon2:before {
    content: "\ebb1";
}
.icon-stackoverflow:before {
    content: "\ebb2";
}
.icon-pinterest:before {
    content: "\ebb3";
}
.icon-pinterest2:before {
    content: "\ebb4";
}
.icon-xing:before {
    content: "\ebb5";
}
.icon-xing2:before {
    content: "\ebb6";
}
.icon-flattr:before {
    content: "\ebb7";
}
.icon-foursquare:before {
    content: "\ebb8";
}
.icon-yelp:before {
    content: "\ebb9";
}
.icon-paypal:before {
    content: "\ebba";
}
.icon-chrome:before {
    content: "\ebbb";
}
.icon-firefox:before {
    content: "\ebbc";
}
.icon-IE:before {
    content: "\ebbd";
}
.icon-edge:before {
    content: "\ebbe";
}
.icon-safari:before {
    content: "\ebbf";
}
.icon-opera:before {
    content: "\ebc0";
}
.icon-file-pdf:before {
    content: "\ebc1";
}
.icon-file-openoffice:before {
    content: "\ebc2";
}
.icon-file-word:before {
    content: "\ebc3";
}
.icon-file-excel:before {
    content: "\ebc4";
}
.icon-libreoffice:before {
    content: "\ebc5";
}
.icon-html-five:before {
    content: "\ebc6";
}
.icon-html-five2:before {
    content: "\ebc7";
}
.icon-css3:before {
    content: "\ebc8";
}
.icon-git:before {
    content: "\ebc9";
}
.icon-codepen:before {
    content: "\ebca";
}
.icon-svg:before {
    content: "\ebcb";
}
.icon-IcoMoon:before {
    content: "\ebcc";
}
